REACT_APP_FIREBASE_API_KEY=AIzaSyAMEd2ZGroR91SNKNgO3MyxVxz5bmqQQ4U
REACT_APP_FIREBASE_AUTH_DOMAIN=review-dd066.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=review-dd066
REACT_APP_FIREBASE_STORAGE_BUCKET=review-dd066.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1094603994279
REACT_APP_FIREBASE_APP_ID=1:1094603994279:web:c566a07af6519bbfc59782